.homeContainer {
    padding: 30px;
    margin: 0 auto;
    max-width: 800px;
    align-self: center;
    border: 1px black solid;
    background-color: rgba(91, 220, 247, 0.06);
    color: #1f393e;
    font-family: Arial sans-serif;
}