.button {
    margin: 0 20px 20px;
    padding: 5px 30px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-family: Arial sans-serif;
    color: black;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.buttonEdit {
    background-color: rgba(20, 166, 249, 0.2);
}

.buttonDelete {
    background-color: rgba(249, 167, 141, 0.31);
}

.buttonShowComments {
    background-color: rgba(136, 249, 209, 0.2);
}
