.formContent {
    display: flex;
    flex-direction: column;
}

.formManage {
    display: flex;
    justify-content: space-between;
}

.titleInput {
    margin: 10px;
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-family: Arial sans-serif;
}

.bodyInput {
    margin: 10px 10px 20px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 18px;
    font-family: Arial sans-serif;
}
