.formContainer {
    margin: 0 auto;
    padding: 30px;
    width: 800px;
    align-self: center;
    border: 1px black solid;
    background-color: rgba(88, 222, 249, 0.09);
    color: #1f393e;
    font-family: Arial sans-serif;
}
