.container {
    padding: 3px 10px;
    margin: 15px 50px;
    background-color: rgb(234, 235, 233);
    border-radius: 20px;
}

.container:first-child {
    border-top: none;
}

.title {
    font-size: 18px;
    text-indent: 10px;
}

.title:first-letter{
    text-transform: uppercase;
}

.text {
    text-indent: 10px;
    font-size: 14px;
}

.text:first-letter{
    text-transform: uppercase;
}

.email {
    display: block;
    text-align: right;
    color: #38211c;
    text-decoration: none;
}

.email:hover {
    color: #124578;
}
