.navContainer {
    text-align: right;
    margin: 20px;
}

.navigation {
    display: inline-block;
}

.button {
    border: none;
    border-right: 1px white solid;
    border-bottom: 2px white solid;
    font-size: 14px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background-color: rgba(238, 239, 237, 0.56);
}

.pageNumber:hover {
    color: #71a3b6;
    font-weight: bolder;
}

.buttonActive {
    color: #71a3b6;
    font-weight: bolder;
    border-bottom: 2px solid #71a3b6;
}

.buttonDisabled {
    color: grey;
    cursor: auto;
}

.lastButton {
    border-right: none;
}
