.postManage {
    display: flex;
    justify-content: space-between;
}
.leftAlight {
    display: flex;
    justify-content: space-between;
}

.postBody:first-letter{
    text-transform: uppercase;
}
