.post {
    padding: 10px;
    margin: 10px;
    background-color: rgba(238, 239, 237, 0.56);
    border-radius: 20px;
}

.postManage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftAlight {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.postBody {
    text-indent: 20px;
}

.postBody:first-letter{
    text-transform: uppercase;
    text-indent: 20px;
}

